.login-form {
    background-color: var(--bg-color-alt);
    box-shadow: 0 0 20px var(--shadow-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font-title);
    font-weight: 500;
}

label {
    font-size: 0.9rem;
}

input {
    height: 20px;
    border-radius: 10px;
    border: 1px solid var(--text-color-main);
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    background-color: var(--text-color-main);
    color: var(--bg-color-main);
    font-weight: 700;
    cursor: pointer;
}